# **Assignment - 1 : Variables, Operators and Type Casting**
# **Name: Rupesh Jadhav Date:04/09/2024**

# **1.Understanding Variables**

**a. Define a variable in Python. Provide an example of how to create a variable that stores your name.**

ANS-
* variable is something in which we hold some data.
* There are some rules to take variable we can not take number or any special
 charector or reserve key words variable in python.
* Also we can not use space as well in between the variable.

Example
Name = "Rupesh" ^ #Name is variable which is holding data as "Rupesh"



---


**b. What is the difference between a variable and a constant? Can we have constants in Python?**

ANS -

In variable Data hold in variable can change during execution.
Example. a = 10 a = a+2 # now a is 12

In Constant we can not change value or data which holds in constant.
Example PI = 3.14 #which is constant

Python dose not have inbuilt function that holds constant.


---

# **2.Working with Different Data Types**

**a.Create variables of the following types in Python:**

1.Integer,

2.Float,

3.String,

4.Boolean,

ANS-

Int_Var = 10

Float_Var = 2.5

Strng_Var = "Rupesh"

Bollen_Var = True


---

**b.Write a Python script to display the type of each variable you created.**

In [1]:
a = 10        # Integer
b = 2.5       # Float
c = "Rupesh"  #String
d = True      #Boolen
e = [1,2,3]   #list
f = (1,2,3)   #Tuple
g = {1,2,3}   #set
h = {"a":10, "B": "rj"}  # Dictinary

print("Type of a =", type(a))
print("Type of b =", type(a))
print("Type of c =", type(a))
print("Type of d =", type(a))
print("Type of e =", type(a))
print("Type of f =", type(a))
print("Type of g =", type(a))
print("Type of h =", type(h))

Type of a = <class 'int'>
Type of b = <class 'int'>
Type of c = <class 'int'>
Type of d = <class 'int'>
Type of e = <class 'int'>
Type of f = <class 'int'>
Type of g = <class 'int'>
Type of h = <class 'dict'>

# **3.Arithmetic Operators**
**a.Explain the following arithmetic operators with examples:**

**1.Addition (`+`)  **

ANS - we use '+' to perform operation like addition of variables or Number

  Example -
  
             a = 2
             b = 3
             print(a+b)
output will be 5 its doing sum of two variable a & b.


---



**2.Subtraction (`-`)**

ANS - we use '-' to perform operation like subtraction of variables or Number
 Example -
            
            a = 10
            b = 3
            print(a-b)
output will be 7 its doing substraction of two variable a & b.

---


**3.Multiplication (`*`)**

ANS - we use '*' to perform operation like multiplication of variables or Number
 Example -
           
           a = 2
           b = 3
           print(a*b)
output will be 6 its doing multiplication of two variable a & b.


---



**4.Division (`/`)**

ANS - we use '/' to perform operation like division of variables or Number
 Example -
          
           a = 7
           b = 2
           print(a/b)
output will be 2.5 its doing division of two variable a & b.


---



**5.Floor Division (`//`)**

ANS - If we want to preform operation like division of variables or Number but we want output in "intger" olny.
 Example -
           
           a = 7
           b = 2
           print(a*b)
output will be 2 its doing division of two variable a & b and then round down the output to the nearse integer.


---



**6.Modulus (`%`)**

ANS- when we do division of two numbers modulus operator gives us reminder of that division opration
 Example -

           a = 7
           b = 2
           print(a % b)
output will be 1  


---



**7.Exponentiation ("**")**

ANS - when we want to calculate the power or exponention of some value then we use Exponentiation oprator

 Example -
           
           a = 2  # Base
           b = 3  # Exponent
           print(a ** b)
 output will be 8


---

**b. Write a Python script to calculate the area of a rectangle using variables length and width with values 5 and 10, respectively. Use the multiplication operator.**

In [3]:
length = 5
width = 10
print("Area = ", length * width)

Area =  50

# 4.Comparison and Logical Operators

**a.Explain the following comparison operators with examples:**

**1.Equal to (`==`)**

ANS - We use "==" to compare to values are equal.

it return a Boolean value (True or False) based on the result. If values are equal it will return True or False outherwiase.

Example -  
           
           a = 5           |            a = 5
           b = 5           |            b = 3
           print(a == b)   |            print(a == b)
Outputwill be True         |    Outputwill be False


---



**2.Not equal to (`!=`)**

ANS - we use "!=" to compare if two values are not equal.
      
 it return a Boolean value (True or False) based on the result. If values are not equal it will return True or False outherwiase.

 Example -

           a = 5           |            a = 5
           b = 3           |            b = 5
           print(a != b)   |            print(a != b)
 Outputwill be True        |     Outputwill be False


---



**3.Greater than (`>`)**

ANS - We use ">" to check value on the left is greater than the value on the right.
      
it return a Boolean value (True or False) based on the result. If value is greater it will return True or False outherwiase.

Example
       
           a = 5           |            a = 3
           b = 3           |            b = 5
           print(a > b)    |            print(a > b)
  Outputwill be True       |     Outputwill be False


---



**4.Less than (`<`)**

ANS - We use "<" to check value on the left is less than the value on the right.
      
it return a Boolean value (True or False) based on the result. If value is less it will return True or False outherwiase.

Example  
         
           a = 3           |            a = 10
           b = 5           |            b = 5
           print(a < b)    |            print(a < b)
  Outputwill be True       |     Outputwill be False


---



**5.Greater than or equal to (`>=`)**

ANS - We use ">=" to checks if the value on the left is greater than or equal to the value on the right.

it return a Boolean value (True or False) based on the result. If value is greater or equal it will return True or False outherwiase.

Example -  

           a = 5           |            a = 5
           b = 2           |            b = 10
           print(a >= b)   |            print(a >= b)
  Outputwill be True       |     Outputwill be False


---



**6.Less than or equal to (`<=`)**

ANS - We use ">=" to checks if the value on the left is less than or equal to the value on the right.
      
it return a Boolean value (True or False) based on the result. If value is less or equal it will return True or False outherwiase.

Example  
  
           a = 2           |  Example - a = 5
           b = 5           |            b = 1
           print(a <= b)   |            print(a <= b)
 O utputwill be True       |     Outputwill be False


---

**b.Using logical operators (and, or, not), write a Python script that checks if a number is positive and even.**

In [4]:
num = int(input("Write a number:"))
if num > 0 and num % 2 == 0 :
   print("Number is possitive & even")
elif num > 0 and num % 2 != 0:
    print("Number is possitive & odd ")
elif num < 0:
    print("number is negetive")
else:
    print("Number is zero")

Write a number:10
Number is possitive & even



---
# 5.Type Casting in Python

**a. What is type casting? Explain the difference between implicit and explicit type casting with examples.**

ANS - Conversion of one data type to anothers data type is called type casting

* In implicit type casting pythone automaticaly convert one data type to another data type.

  Example  
  
            a = 10          # Integer data type
            b = 2.5         # Boolean data type
            print(a + b)
  output will be 12.5        # Python automaticaly converts it into boolean data type.  

* In Eplicit type casting programmer coverts one data type to anothe data type by using built in function
  
  Example -
  
            a = 5             # integer data type
            b = "Rupesh"      # String data type
            print(str(a) + b) # we have convert Integer data type 5 into string data type
  output will be 5Rupesh


---

**b.Write a Python script that:**

**1.Converts a float to an integer.**

In [9]:
a = 12.5  # Data type float
b = 10    # Data type integer
print("sum = ", int(a) + b) # we have convert float data type 12.5 into integer data type
print(type(int(a) + b))  # output will be integer

sum =  22
<class 'int'>



---
2.Converts an integer to a string.

In [10]:
a = 10             # Data type integer
b = "Rupesh"       # Data type string
print(str(a) + b)  # we have convert Integer data type 10 into string data type
print(type(str(a) + b))  # output will be string

10Rupesh
<class 'str'>

**3.Converts a string to a float.**

In [13]:
a = 10                # Data type integer
b = "4"                # Data type string
print(a + float(b))    # we have convert string data type 4 into float data type
print(type(a + float(b)))  # output will be float

14.0
<class 'float'>



---
# **6.Practical Exercise: Mini Calculator**

Write a Python script that asks the user to input two numbers and then:

1.Adds the two numbers and prints the result.

2.Subtracts the second number from the first and prints the result.

3.Multiplies the two numbers and prints the result.

4.Divides the first number by the second and prints the result (handle division by zero).

5.Converts the sum of the numbers to a string and prints the type of the result.

In [14]:
num1 = int(input("Type the 1st number"))
num2 = int(input("Type the 2nd number"))

#Adds the two numbers and prints the result.
print("sum of two number:", num1 +num2)

#Subtracts the second number from the first and prints the result
print("Substract 1st number from 2nd number:" , num2 - num1)

#Multiplies the two numbers and prints the result.
print("multipication of 1st & 2nd number:", num1 * num2)

#Divides the first number by the second and prints the result (handle division by zero).
if num2 != 0:
    print("Division of 1st number by 2nd number:", num1 / num2)
else:
    print("division by Zero is not allowed")

#Converts the sum of the numbers to a string and prints the type of the result.
print("sum of two number:",( num1 + num2))
print("sum of two number:",type(str( num1 + num2)))

Type the 1st number10
Type the 2nd number5
sum of two number: 15
Substract 1st number from 2nd number: -5
multipication of 1st & 2nd number: 50
Division of 1st number by 2nd number: 2.0
sum of two number: 15
sum of two number: <class 'str'>